pyramid==2.0
pyramid_jinja2==2.10
pyramid_debugtoolbar==4.9
pyramid_retry==2.1.1
pyramid_tm==2.5
SQLAlchemy==1.4.42
alembic==1.8.1
psycopg2-binary==2.9.5
waitress==2.1.2
PyJWT==2.6.0
passlib==1.7.4
bcrypt==4.0.1
pytest==7.2.0
pytest-cov==4.0.0
cornice==6.0.0
webtest==3.0.0